In [16]:
import pandas as pd

In [23]:
# Revisar errores en la última linea
df = pd.read_csv('Data.csv', encoding='latin-1', sep=';')
df.head()

   Nombre  Edad  Estatura (cm)
0    Juan    25            170
1   María    30            160
2  Carlos    35            180