In [11]:
import pandas as pd

# Revisar errores en la última linea
users = pd.read_csv('Data.csv', encoding='latin-1', sep=';')
users.head()

   Nombre  Edad  Estatura
0    Juan    25       170
1   María    30       160
2  Carlos    35       180

In [32]:
Ascendente = True
Descendente = False
Edad = 'Edad'
Estatura = 'Estatura'
users_sorted = users.sort_values(by=Categoría, ascending=Orden)

   Nombre  Edad  Estatura
2  Carlos    35       180
0    Juan    25       170
1   María    30       160

In [34]:
# ToDo: Buscar como agregar inputs
Categoría = Edad
Orden= Ascendente
print(users_sorted)

   Nombre  Edad  Estatura
2  Carlos    35       180
0    Juan    25       170
1   María    30       160